  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>

<div id="react-todo-app"></div>

<script type="text/javascript" src="/javascripts/dist/app.bundle.js" ></script>